
	<!-- <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
		<a class="navbar-brand brand-logo" href="index.html"><b style='color:#508eca;  font-family: Damion;font-size: 30px;'>Star</b>&nbsp;&nbsp;<img src="images/ocr.png" alt="logo" style='width:35px;'/></a>
		<a class="navbar-brand brand-logo" href="index.html">
			<b style='color:#508eca;  font-family: Damion;font-size: 30px;'>Star</b>
			<span class="text-primary font-weight-bold" style='color:#508eca;  font-family: Damion;font-size: 30px;'>Purchase</span>
			 &nbsp;&nbsp;<span class="ach-logo"></span>
			<img src="assets/images/finance-logo.png" alt="logo" style='width:127px; height:52px'/>
		</a>
		<a class="navbar-brand brand-logo-mini" href="index.html">
			<img src="assets/images/ocr.png" alt="logo" style='width:35px;'/>
			<span class="text-primary">Purchase</span>
		</a>
	</div> -->
	<div class="navbar-menu-wrapper bg-white d-flex align-items-center" style='width:100%; box-shadow: 5px 1px 5px 1px grey;'>
		<ul class="navbar-nav">
			<li class="nav-item d-lg-block">
			    <span class="h3 header-page-title"><a class="navbar-brand brand-logo" href="index.html">
			<b style='color:#508eca;  font-family: Damion;font-size: 30px;'>Star</b>
			<span class="text-primary font-weight-bold" style='color:#508eca;  font-family: Damion;font-size: 30px;'>Sales</span>
		</a></span>
			</li>	
		</ul>
		
		<div class="dropdown">
		    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-lg fa-cogs text-primary cursor-pointer" aria-hidden="true"></i> Menu
		    <span class="caret"></span></button>
		    <ul class="dropdown-menu">
		      <li><a href="index.html"><i class="fa fa-upload text-primary cursor-pointer" aria-hidden="true"></i> &nbsp;Mass Upload</a></li>
		      <li><a href="upld-logs.html"><i class="fa fa-file-excel-o text-primary cursor-pointer" aria-hidden="true"></i> &nbsp;Uploaded Document</a></li>
		      <li><a href="sls-ord.html"><i class="fa fa-user-circle text-primary cursor-pointer" aria-hidden="true"></i> &nbsp;Sales Orders</a></li>
		      <li><a href="access-setting.html"><i class="fa fa-book text-primary cursor-pointer" aria-hidden="true"></i> &nbsp;Access</a></li>
		    </ul>
		 </div>
		<ul class="navbar-nav">
			<li class="nav-item d-lg-block">
			    <span class="h3 header-page-title"></span>
			</li>	
		</ul>
		<ul class="navbar-nav navbar-nav-right">
		
			<li class="nav-item d-none d-lg-block" style="width: 250px;">
	            <select class="form-control select2" id="headerCmpyId" style="width: 100%"></select>
	        </li>
			<li class="nav-item dropdown d-none d-lg-flex">
				
			    <a class="nav-link text-dark dropdown-toggle" id="userMenuDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
			        <span class="icon-user"></span>
			        <span class='username' id="loggedInUser"></span>
			    </a>
			    <div class="dropdown-menu navbar-dropdown" aria-labelledby="userMenuDropdown">
			        <!-- <a class="dropdown-item font-weight-medium" href="profile.html">
			            <i class="icon-user"></i>
			            Edit Profile
			        </a>
			        <div class="dropdown-divider"></div> -->
			        <a class="dropdown-item font-weight-medium logout-btn" href="#">
			            <i class="icon-logout"></i>
			            Logout
			        </a>
				</div>
			</li>
		</ul>
	</div>