<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav m-0" id="main-menu-navigation">
		<li class="nav-item">
		  <a href="index.html" class="nav-link">
			<i class="icon-rocket menu-icon"></i>
			<span class="menu-title menu-page-title">Mass Upload</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a href="upld-logs.html" class="nav-link">
			<i class="icon-list menu-icon"></i>
			<span class="menu-title menu-page-title">Uploaded Docs</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a href="sls-ord.html" class="nav-link">
			<i class="icon-notebook menu-icon"></i>
			<span class="menu-title menu-page-title">Sales Orders</span>
		  </a>
		</li>
		<li class="nav-item has-child">
		    <a class="nav-link has-child" href="#subMenu16086997893427" data-toggle="collapse" aria-expanded="false"><i class="menu-icon icon-settings"></i><span class="menu-title">Settings</span></a>
		    <div class="collapse" id="subMenu16086997893427" style="">
		        <ul class="nav flex-column sub-menu">
		            <!-- <li class="nav-item"><a href="bank-setup.html" class="nav-link"><i class="menu-icon icon-briefcase"></i><span class="menu-page-title">Bank</span></a></li>
		            <li class="nav-item"><a href="cmpy-setup.html" class="nav-link"><i class="menu-icon icon-layers"></i><span class="menu-page-title">Company</span></a></li>
		            <li class="nav-item"><a href="vndr-setup.html" class="nav-link"><i class="menu-icon icon-people"></i><span class="menu-page-title">Vendor</span></a></li>
		             --><li class="nav-item"><a href="access-setting.html" class="nav-link"><i class="menu-icon icon-globe"></i><span class="menu-page-title">Access</span></a></li>
		            <!-- <li class="nav-item"><a href="type-code-map.html" class="nav-link"><i class="menu-icon icon-people"></i><span class="menu-page-title">Type Code Mapping</span></a></li>
		            <li class="nav-item"><a href="check-lot-maint.html" class="nav-link"><i class="menu-icon icon-credit-card"></i><span class="menu-page-title">Check Lot Maintenance</span></a></li>
		         --></ul>
		    </div>
		</li>
	</ul>
</nav>