body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	font-family: Poppins !important;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #12131a;
	text-align: left;
	background-color: #fff;
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .btn,
	.ajax-upload-dragdrop .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .swal2-styled,
	.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm,
	.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel, .wizard>.actions a
	{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

.custom-drop-file .custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
}

.custom-drop-file .custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	margin: 0;
	opacity: 0;
	padding: 8px 12px;
}

.custom-drop-file .custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	padding: 6px 12px;
	line-height: 1.5;
	color: #495057;
	background-color: rgba(158, 158, 158, 0.13);
	border: 1px solid #ced4da;
	border-radius: .25rem;
	margin-bottom: 0;
	overflow: hidden;
	line-height: 25px !important;
	display: inline-block;
}

#formUploadFile .custom-file, #formUploadFile .custom-file .custom-file-input,
	#formUploadFile .custom-file label.custom-file-label {
	height: 200px;
	width: 100%;
}

#formUploadFile .custom-file label.custom-file-label {
	border-color: rgba(23, 198, 192, 0.35);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
	background: repeating-linear-gradient(45deg, rgba(24, 199, 193, 0.05),
		rgba(23, 199, 192, .1) 10px, #ffffff 10px, #ffffff 20px);
}

.btn {
	line-height: 19px !important;
}

body:not (.login-page ) .content-wrapper {
	height: calc(100vh - 100px);
	min-height: 1px;
	padding: 1.0rem 1.0rem;
	overflow: auto;
	position: relative;
	z-index: 11;
}

.hide-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F6F8FA;
	z-index: 5;
	display: none;
}

.card-body {
	padding: 1.0rem !important;
}

.card-title {
	border-bottom: 1px solid #EEE;
	padding-bottom: 10px;
}

.sidebar {
	min-height: 0 !important;
	z-index: 12;
}

.content-wrapper {
	background: #F3f3f3;
}

.footer {
	padding: 10px 1rem !important;
	background: #ffffff;
	border: 1px solid #f3f3f3;
}

i.menu-icon {
	font-size: 16px;
}

#mainAppWrapper {
	background: white;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2001;
}

.loading-wrapper {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1053;
}

.spinner {
	text-align: center;
	position: absolute;
	top: calc(50% - 42px);
	left: calc(50% - 80px);
	background: #fff;
	padding: 30px 50px;
	border-radius: 4px;
}

.spinner>div {
	width: 18px;
	height: 18px;
	background-color: #2196F3;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@
-webkit-keyframes sk-bouncedelay { 0%, 80%, 100% {
	-webkit-transform: scale(0)
}

40%
{
-webkit-transform






:



 



scale






(1
.0






)
}
}
@
keyframes sk-bouncedelay { 0%, 80%, 100% {
	-webkit-transform: scale(0);
	transform: scale(0);
}

40%
{
-webkit-transform






:



 



scale






(1
.0






);
transform






:



 



scale






(1
.0






);
}
}
.img-responsive {
	max-width: 100%;
}

.modal-width-50 {
	max-width: 50%;
}

.modal-width-90 {
	max-width: 90%;
}

.form-control {
	border-color: #e1e1e1;
	border-radius: 5px !important;
}

.sidebar .nav .nav-item.active>.nav-link, .sidebar .nav .nav-item.active>.nav-link:hover
	{
	background: #F6F8FA !important;
	color: #000 !important;
	border: 1px solid;
	border-color: #efefef;
	border-left: 0;
	border-right: 0;
}

/* .select2-container--default.select2-container--focus .select2-selection--multiple,
	.select2-container--default .select2-selection--single,
	.select2-container--default .select2-dropdown,
	.select2-container--default .select2-selection--multiple {
	border-color: #3b3d4f;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single, 
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single{
	border-color: #6c6c6c; #80bdff;
} */
.select2-results__option[aria-selected=true] {
	display: none;
}

.form-check label .input-helper:before, .form-radio label input+.input-helper:before,
	.form-radio label input:checked+.input-helper:before {
	border-color: #dadada;
}

.inline-radio, .inline-checkbox {
	display: inline-block;
	margin: 0 20px 0 0;
}

.form-check .form-check-label, .form-radio .form-check-label {
	padding-left: 23px;
}

.spacer {
	padding: 10px 0;
	width: 25%;
	margin: 0 auto;
}

.custom-title {
	border-bottom: 1px double #cbb9ec;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.sidebar .nav.sub-menu {
	margin-bottom: 0;
	padding: 0 0 0 2rem;
}

.sidebar-icon-only .sidebar .nav.sub-menu {
	margin-bottom: 0;
	padding: 0rem;
}

.sidebar-icon-only .sidebar .nav .nav-item.active {
	background: transparent;
}

.sidebar .nav .has-child .nav-item.active>.nav-link, .sidebar .nav .has-child .nav-item.active>.nav-link:hover
	{
	background: transparent !important;
	border: 0;
}

.sidebar .nav.sub-menu .nav-item .nav-link:before {
	content: none;
}

.swal2-modal {
	min-height: 200px;
}

.swal2-popup .swal2-styled {
	padding: .5em 1em;
}

.swal2-modal .swal2-title {
	font-size: 20px;
}

.modal-header {
	border-bottom: 1px solid #dcdcdc;
}

.input-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}

.input-group-prepend {
	margin-right: -1px;
}

.input-group-append, .input-group-prepend {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.input-group>.input-group-append:last-child>.btn:not (:last-child ):not
	 (.dropdown-toggle ), .input-group>.input-group-append:last-child>.input-group-text:not
	 (:last-child ), .input-group>.input-group-append:not (:last-child )>.btn,
	.input-group>.input-group-append:not (:last-child )>.input-group-text,
	.input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text
	{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #e1e1e1;
	border-radius: .25rem;
}

.tooltip {
	z-index: 100000000;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #dfdfdf;
	border-radius: 0px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #3a3636;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #8b8b8b;
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122
		, 153, 217)), color-stop(0.72, rgb(73, 125, 189)),
		color-stop(0.86, rgb(28, 58, 148)));*/
}

.table th, .table td {
	font-size: 13px;
	padding: 7px !important
}

.icon-pointer, .btn {
	cursor: pointer;
}

.td-center {
	text-align: center;
}
/* .thead-clr, thead tr {
	background: #ebebeb;
	border: 1px solid #ebebeb;
} */
.table-border {
	border: 1px solid #ebebeb;
}

.table thead tr:nth-child(2) th .form-control {
	height: initial;
	padding: 7px 5px !important;
	border-radius: 4px;
}

.table thead tr:nth-child(2) th {
	padding: 4px;
}

.tbl-no-records {
	text-align: center;
	font-weight: bold;
}

.modal-content {
	background-color: white;
}

.custom-select2-wrapper {
	width: calc(100% - 116px);
}

.select2-results__options {
	font-size: 12px;
}

.modal-header .close {
	cursor: pointer;
}

.modal .modal-dialog .modal-content .modal-header .close span {
	font-size: 24px;
	font-weight: bold;
	color: red;
}

.hide-imp {
	display: none !important;
}

.btn.btn-xs {
	padding: 0.25rem 0.75rem;
	font-size: 0.7rem;
}

.small-font {
	font-size: 0.725rem;
}

.swal2-modal .swal2-icon, .swal2-modal .swal2-success-ring {
	margin-bottom: 20px;
	font-size: 12px;
}

.swal2-popup .swal2-actions {
	margin: 1em auto 0;
}

#blockModal



	



select






.form-control






:not



 



(
[
size
]



 



)
:not



 



(
[
multiple
]



 



)
{
height






:



 



33
.91px






;
}
.h-32 {
	height: 32px;
}

.h-39 {
	height: 39px;
}

.w-105p {
	width: 105px;
}

.table-hover tbody tr:hover {
	background-color: #F6F8FA;
}

tr.active-tr, .table-hover tbody tr.active-tr:hover {
	background: #c3daff;
}

.table tbody tr {
	border-bottom: 1px solid #d3d3d34a;
}

.table thead th {
	background-color: rgba(3, 169, 243, 0.15);
}

span.ach-logo {
	color: #508eca;
	font-size: 24px;
}

.heading-right-button {
	float: right;
	margin-top: -3px;
}

.btn.btn-sm {
	line-height: initial !important;
	padding: 0.35rem 0.5rem;
	font-size: 0.75rem;
}

.c-pointer {
	cursor: pointer;
}

.form-control {
	line-height: 20px;
	border-radius: 0px;
}

.select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	min-height: 38px;
	user-select: none;
	-webkit-user-select: none;
}

.row-bg-danger {
	background-color: rgba(251, 150, 120, 0.5) !important;
}

.row-bg-primary {
	background-color: rgba(3, 169, 243, 0.5) !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
	{
	height: 37px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
	{
	line-height: 19px;
}

.mh-300 {
	max-height: 300px;
	overflow: auto;
}

.mh-400 {
	max-height: 400px;
	overflow: auto;
}

.mh-500 {
	max-height: 500px;
	overflow: auto;
}

.sidebar .nav .nav-item .nav-link i.menu-icon {
	margin-right: 0.75rem !important;
}

.sidebar-mini .sidebar .nav .nav-item .nav-link i.menu-icon {
	margin-right: 0 !important;
}

.tab-minimal-custom .nav-tabs .nav-item .nav-link {
	border-bottom: 2px solid #dddddd;
	margin-right: 5px;
	padding-left: 7px !important;
	padding-right: 7px !important;
}

.tab-minimal-custom .nav-tabs .nav-item .nav-link.active {
	border-color: #03a9f3;
}

.tab-minimal-custom .tab-content {
	border: 0;
	padding: 0;
}

.tab-minimal-custom .badge {
	padding: .1rem 0.375rem;
}

.fs-22 {
	font-size: 22px;
}

.fs-18 {
	font-size: 18px;
}

.fs-16 {
	font-size: 16px;
}

.onoffswitch {
	position: relative;
	width: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #eaeaea;
	border-radius: 20px;
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 25px;
	padding: 0;
	line-height: 25px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "STX";
	padding-left: 7px;
	background-color: #007BFF;
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "APP";
	padding-right: 7px;
	background-color: #343a40;
	color: #FFFFFF;
	text-align: right;
}

.onoffswitch-switch {
	display: block;
	width: 17px;
	margin: 6px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	border: 2px solid #aeaeae;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}

.user-active-inactive-wrapper .onoffswitch-switch {
	width: 15px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

.onoffswitch-inner.user-status-type:before {
	content: "Yes";
}

.onoffswitch-inner.user-status-type:after {
	content: "No";
}

.user-active-inactive-wrapper .onoffswitch {
	width: 60px;
}

.user-active-inactive-wrapper .onoffswitch-label {
	border: 0;
}

.user-active-inactive-wrapper .onoffswitch-switch {
	right: 35px;
	margin: 5px;
	border: 0;
}

.user-active-inactive-wrapper .onoffswitch-inner:after {
	background-color: #b1b1b1;
}

.second-level-modal {
	background: rgba(0, 0, 0, 0.25);
}

.display-none {
	display: none;
}

#rightNotify, #popupNotify {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 400px;
	z-index: 1051;
	background-color: #fff;
	border-radius: 0.25rem;
}

#rightNotify .alert, #popupNotify .alert {
	margin-bottom: 0 !important;
}

.nav.nav-pills.nav-justified .nav-item .nav-link {
	display: block;
}

.nav-pills.nav-justified .nav-link.active {
	color: #fff;
	background-color: #007bff;
}

.auth.register-full-bg {
	background: url('../images/login_bg.jpg');
	background-size: cover;
}

.align-items-center, .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item,
	.loader-demo-box, .list-wrapper ul li, .email-wrapper .message-body .attachments-sections ul li .thumb,
	.email-wrapper .message-body .attachments-sections ul li .details .buttons
	{
	align-items: center !important;
}

.flex-column, .content-wrapper, .email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user
	{
	flex-direction: column !important;
}

.auth .auth-form-light {
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0
		rgba(0, 0, 0, .19);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0
		rgba(0, 0, 0, .19);
}

.spin-it {
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@
-webkit-keyframes spin { 0%{
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

100%{
-webkit-transform






:



 



rotate






(360
deg




);
transform






:



 



rotate






(360
deg




);
}
}
@
-moz-keyframes spin { 0%{
	-moz-transform: rotate(0);
	transform: rotate(0);
}

100%{
-moz-transform






:



 



rotate






(360
deg




);
transform






:



 



rotate






(360
deg




);
}
}
@
-o-keyframes spin { 0%{
	-o-transform: rotate(0);
	transform: rotate(0)
}

100%{
-o-transform






:



 



rotate






(360
deg




);
transform






:



 



rotate






(360
deg




);
}
}
@
keyframes spin { 0%{
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

100%{
-webkit-transform






:



 



rotate






(360
deg




);
-moz-transform






:



 



rotate






(360
deg




);
-o-transform






:



 



rotate






(360
deg




);
transform






:



 



rotate






(360
deg




);
}
}
.display-block {
	display: block
}

#loadingLoginWrapper {
	background-color: #03a9f3;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	padding: 15px 0;
}

.select2-container .select2-selection--single .select2-selection__rendered
	{
	padding: 0px;
}

.back-btn {
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}

.rotate-180 {
	transform: rotate(180deg);
}

.fixed-footer-btn {
	position: fixed;
	bottom: 41px;
	left: 245px;
	width: calc(100% - 230px);
}

.fixed-footer-btn .card {
	background-color: #ffffff;
	border: 1px solid #ddd;
}

button:disabled {
	cursor: not-allowed;
}

/* The switch - the box around the slider */
.toggle-wrapper .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.toggle-wrapper .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.toggle-wrapper .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.toggle-wrapper .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.toggle-wrapper input:checked+.slider {
	background-color: #2196F3;
}

.toggle-wrapper input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

.toggle-wrapper input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.toggle-wrapper .slider.round {
	border-radius: 34px;
}

.toggle-wrapper .slider.round:before {
	border-radius: 50%;
}

.toggle-wrapper.invc-fltr .switch {
	width: 40px;
	height: 20px;
}

.toggle-wrapper.invc-fltr .slider:before {
	height: 12px;
	width: 12px;
}

.toggle-wrapper.invc-fltr input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.toggle-wrapper.invc-fltr  input:checked+.slider {
	background-color: #03a9f3;
}

.toggle-wrapper.invc-fltr .slider {
	background-color: #00c292;
}

body.cstm-login-page {
	background: #f3f3f3;
}

.line-on-side {
	border-bottom: 1px solid #DADADA;
	line-height: .1em;
	margin: 10px 0 20px;
}

.line-on-side span {
	background: #FFF;
	padding: 0 10px;
}

.cstm-login-page .auth form .form-group i {
	position: absolute;
	left: 18px;
	right: unset;
}

.cstm-login-page .auth form .form-group .form-control {
	border: 1px solid #D4D4D4;
	color: #5A5A5A;
	padding: 8px 24px 8px 50px;
	line-height: 29px;
	border-radius: 4px;
}

.cstm-login-page .auth-form-light {
	width: 400px;
	margin: 35px auto;
	border-radius: 10px;
}

.font-weight-800 {
	font-weight: 800;
}

@media ( min-width : 992px) {
	.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
		.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing,
		.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title
		{
		width: 225px;
	}
}

.modal-title-right-info {
	float: right;
}

.selected-row {
	background: #FFF9C4;
}

.header-page-title {
	font-size: 20px;
}

.btn-inverse-dark.disabled, .btn-inverse-dark:disabled, .btn.disabled,
	.btn:disabled {
	border-color: #cecfd4;
}

.mh-350 {
	max-height: 350px;
	overflow: auto;
}

.tooltip {
	pointer-events: none !important;
}

.simple-file-upload .custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	margin-bottom: 0;
}

.simple-file-upload .custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	margin: 0;
	opacity: 0;
}

.simple-file-upload .custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.simple-file-upload .custom-file-input:lang(en) ~.custom-file-label::after
	{
	content: "Browse";
}

.simple-file-upload .custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: calc(1.5em + .75rem);
	padding: .375rem .75rem;
	line-height: 1.5;
	color: #495057;
	content: "Browse";
	background-color: #e9ecef;
	border-left: inherit;
	border-radius: 0 .25rem .25rem 0;
}

#excelDataTbl td, #excelDataTbl th {
	padding: 0;
}

#excelDataTbl th {
	padding: 10px 5px;
}

#excelDataTbl input.form-control {
	min-width: 100px;
}

#excelDataTbl select.form-control {
	min-width: 100px;
}

#slsOrdTbl td, #slsOrdTbl th {
	padding: 0;
	padding-left: 5px;
}

#slsOrdTbl th {
	padding: 12px 5px !important;
}

#slsOrdTbl input.form-control {
	min-width: 100px;
}

#slsOrdTbl select.form-control {
	min-width: 100px;
}

#excelDataTbl input.form-control.shp-to-no {
	min-width: 20px;
}

.sls-ord-item-wrapper .table {
	background: #f7f7f7;
}

.sls-ord-item-wrapper .table thead tr th {
	background: #ddedf4;
}

.sls-ord-sts .circle-loader {
	width: 25px;
	height: 25px;
}

.sls-ord-sts .circle-loader:before, .sls-ord-sts .circle-loader:after {
	border-width: 3px;
}

.custom-in-screen-popup {
	position: absolute;
	padding: 7px;
	border-radius: 5px;
	/*  box-shadow: 0px 0px 5px 0px #acacac; */
	z-index: 1002;
	width: 231px;
	background: #e2f3ea;
	display: none;
	font-weight: 500;
}

.custom-in-screen-popup:before {
	content: "";
	position: absolute;
	bottom: -14px;
	left: 10px;
	box-sizing: border-box;
	border: 7px solid black;
	border-color: transparent transparent #cfe9d9 #cfe9d9;
	transform-origin: 0 0;
	transform: rotate(-45deg);

	/*  box-shadow: -3px 3px 3px 0 #e3e3e3; */
}

#viewSlsOrdSts .msg-area {
	overflow: auto;
}

.sls-ord-item-wrapper {
	max-height: 300px;
	overflow: auto;
}

.select-sls-ord-item .form-check label .input-helper:after {
	left: -2px;
}

#excelDataTblWrapper {
	max-height: calc(100vh - 289px);
}

/* .select2-search { background-color: #3b3d4f !important; color:white }

.select2-search input { background-color: #3b3d4f!important; color:white }

.select2-results { background-color: #3b3d4f!important; color:white}

.select2-selection{
  background-color:#3b3d4f !important; color:white;
} */

/* input[type="text"]:focus{
	background-color:#3b3d4f !important;
	color:white !important;
} */

/* .select2-container--default .select2-selection--single .select2-selection__rendered
{
	color:white !important;
}
 */
.select2-container--default .select2-selection--single {
	/* background-color: #fff; */
	border: 1px solid #e1e1e1;
	border-radius: 5px;
}

.dropdown-menu>li>a {
	display: block;
	padding: 15px 26px;
	clear: both;
	font-weight: 500;
	line-height: 1.428571;
	color: #333;
	white-space: nowrap;
	text-decoration: none;
}

.content-wrapper {
	width: 100% !important;
	margin-left: 0px !important;
}

.table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td
	{
	border-top: 0px solid #f3f3f3;
}

#excelDataTbl .select2-container {
	/*min-width: 200px;*/
	width: 200px !important;
}

#excelDataTbl select.frm-list {
	min-width: 100px !important;
}

/* .disabledDiv {
    pointer-events: none;
    opacity: 0.4;
} */

/* .form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
	
background: #3b3d4f ;
color:white ;
	} */
.form-control
	
#userId, #password {
	color: black !important;
}

/* .form-control:disabled
	{
	    background-color: #3c3c4e !important;
   		opacity: 0.8 !important;
	} */
.checkbox-wrapper-2 .ikxBAC {
	appearance: none;
	background-color: #dfe1e4;
	border-radius: 72px;
	border-style: none;
	flex-shrink: 0;
	height: 20px;
	margin: 0;
	position: relative;
	width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
	bottom: -6px;
	content: "";
	left: -6px;
	position: absolute;
	right: -6px;
	top: -6px;
}

.checkbox-wrapper-2 .ikxBAC, .checkbox-wrapper-2 .ikxBAC::after {
	transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 14px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
	cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
	background-color: #c9cbcd;
	transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
	background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
	background-color: #fff;
	left: 13px;
}

.checkbox-wrapper-2


 


:focus




:not


 


(
.focus-visible


 


)
{
outline




:


 


0;
}
.checkbox-wrapper-2 .ikxBAC:checked:hover {
	background-color: #535db3;
}

.datepicker.datepicker-dropdown, .datepicker.datepicker-inline {
	padding: 0px 16px;
	width: 18%;
	max-width: 500px;
	min-width: 250px;
	    border: 1px solid lightgrey;
}

.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody td.day,
	.datepicker.datepicker-inline .datepicker-days table.table-condensed tbody td.day
	{
	font-size: .8375rem;
	padding: 0.4rem 0;
	color: #434a54;
}

.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody td.day:last-child,
	.datepicker.datepicker-inline .datepicker-days table.table-condensed tbody td.day:last-child
	{
	text-align: center;
}

.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody td.day:first-child,
	.datepicker.datepicker-inline .datepicker-days table.table-condensed tbody td.day:first-child
	{
	text-align: center;
}

.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody td.day.active:before,
	.datepicker.datepicker-inline .datepicker-days table.table-condensed tbody td.day.active:before
	{
	content: "";
	width: 30px;
	height: 30px;
	background: white;
	border-radius: 100%;
	display: block;
	margin: auto;
	vertical-align: middle;
	position: absolute;
	top: 1px;
	z-index: -1;
	left: 1px;
	right: 0;
	color: black !important;
	border: 3px solid #69a2ee;
}

.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody td.day.active,
	.datepicker.datepicker-inline .datepicker-days table.table-condensed tbody td.day.active
	{
	color: black;
	background: transparent;
	position: relative;
	z-index: 1;
}

.datepicker.datepicker-dropdown .datepicker-days table.table-condensed thead tr th.dow:first-child,
	.datepicker.datepicker-inline .datepicker-days table.table-condensed thead tr th.dow:first-child
	{
	text-align: center;
}

.datepicker.datepicker-dropdown .datepicker-days table.table-condensed thead tr th.dow:last-child,
	.datepicker.datepicker-inline .datepicker-days table.table-condensed thead tr th.dow:last-child
	{
	text-align: center;
}

.datepicker.datepicker-dropdown .datepicker-days table.table-condensed thead tr th.dow,
	.datepicker.datepicker-inline .datepicker-days table.table-condensed thead tr th.dow
	{
	font-size: .875rem;
	font-weight: initial;
}

#slsOrdTblEdit .table td {
	font-size: 13px;
	padding: 3px !important
}

#slsOrdTblEdit .table th
{
	font-size: 13px;
	padding: 10px !important
}

.modal-body-cstm
{
	    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    padding-left: 30px;
    font-weight: 500;
}

.fixed-column-1 {
    position: sticky;
    left: 40px;
    z-index: 1;
    background-color: white; /* Adjust as needed */
}

.fixed-column-2 {
    position: sticky;
    left: 80px;
    z-index: 1;
    background-color: white; /* Adjust as needed */
}

.fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white; /* Adjust as needed */
}

.fixed-header {
    position: sticky;
    top: 0;
    background-color: white; /* Adjust as needed */
    z-index: 2;
}

.fixed-header-1 {
    position: sticky;
    top: 40px;
    background-color: white; /* Adjust as needed */
    z-index: 2;
}

.fixed-header-2 {
    position: sticky;
    top: 80px;
    background-color: white; /* Adjust as needed */
    z-index: 2;
}

.content-wrapper {
    min-height: calc(100vh - 103px);
}